<!-- <p class="text-center">RXJS SERVICES</p> -->
<br>
<br>
<div class="text-center">
    <h2>Different types of  Subject in  RxJs</h2>
<div class="container">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link  nav-space text-white" style="background-color: grey;" routerLink='/rxjsdemo/subject'>Subject</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link  nav-space text-white" style="background-color: grey;" routerLink='/rxjsdemo/subjectbehaviour'>Behavour Subject</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link  nav-space text-white" style="background-color :grey;" routerLink='/rxjsdemo/subjectreplay'>Replay Subject</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link  nav-space text-white" style="background-color: grey;" routerLink='/rxjsdemo/subjectasync'>Async Subject</a>
        </li>
    </ul>
</div>
<hr>
<hr>
    <br>
    <br>
 
    <router-outlet></router-outlet>
  </div>