<hr>
<h1 class="text-center">Product Details</h1>
<hr>
<h3>
    <p class="lead text-center">Search-Products</p>
</h3>
<hr>
<div class="row">
    <div class="col-md-2"></div>
   
    <div class="col-md-3">
        Enter Id : <input type="number" [(ngModel)]="cid" placeholder="Search By Id">
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3">
        Enter Name : <input type="text" [(ngModel)]="cname" placeholder="Search By Name">
    </div>
  </div>
<div>
    <hr class="my-4">
    <div class="text-center">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>SHORT CODE</th>
                    <th>CATEGORY</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let i of AllCategoriesSearch |byCId:cid|byName:byCName">
                    <td>{{i.CId}}</td>
                    <td>{{i.CName}}</td>
                    <td>{{i.CDescription}}</td>
                    <td>{{i.CShortCode}}</td>
                 </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- 
<div class="col-md-12">
    <table mat-table [dataSource]="AllProductsSearch" class="mat-elevation-z8">
        <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let user"> {{user.Id}} </td>
        </ng-container>
        <ng-container matColumnDef="NAME">
            <th mat-header-cell *matHeaderCellDef> NAME </th>
            <td mat-cell *matCellDef="let user"> {{user.Name}} </td>
        </ng-container>
        <ng-container matColumnDef="MANUFACTURER">
            <th mat-header-cell *matHeaderCellDef> MANUFACTURER </th>
            <td mat-cell *matCellDef="let user"> {{user.Manufacturer}} </td>
        </ng-container>
        <ng-container matColumnDef="SHORTCODE">
            <th mat-header-cell *matHeaderCellDef> SHORTCODE </th>
            <td mat-cell *matCellDef="let user"> {{user.ShortCode}} </td>
        </ng-container>
        <ng-container matColumnDef="CATEGORY">
            <th mat-header-cell *matHeaderCellDef> CATEGORY </th>
            <td mat-cell *matCellDef="let user"> {{user.Category}} </td>
        </ng-container>
        <ng-container matColumnDef="SELLINGPRICE">
            <th mat-header-cell *matHeaderCellDef> SELLINGPRICE </th>
            <td mat-cell *matCellDef="let user"> {{user.SellingPrice}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> -->

