<!-- <h1 class="text-center">Welcome To Catalog</h1> -->
<footer class="page-footer font-small blue " id="footer">
    <div class="img" >
        <hr>
        <hr>
        <h2 class="text-right" id="hero-img">Operations to be performed</h2>
        <hr>
        <!-- <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-6">
                <ul class="text-right">
                    <li>
                        <h4 ><a routerLink="/Product/AddProduct"></a>Products Add</a></h4>
                    </li>
                    <li>
                        <h4><a routerLink="/Product/AllProducts">Products Avaliable</a></h4>
                    </li>
                    <li>
                        <h4><a routerLink="/Product/SearchProduct">Products Search</a></h4>
                    </li>
                    <li>
                        <h4><a routerLink="/Product/DeleteProduct">Products Delete</a></h4>
                    </li>
                </ul>
                
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-6">
                <ul class="text-right">
                    <h3>Add a Product</h3>
                    <h3>Search a Product</h3>
                    <h3>Delete a Product</h3>
                    <h3>Display a Product</h3>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-6">
                <ul class="text-right">
                    <h3>Add a Category</h3>
                    <h3>Search a Category</h3>
                    <h3>Delete a Category</h3>
                    <h3>Display a Category</h3>
                </ul>
            </div>
        </div>
        <!-- <hr>
        <h2 class="text-center">Categories</h2>
        <hr>
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-6">
                <ul>
                    <li>
                    <h4><a routerLink="/Category/AddCategory">Categories Add</a></h4>
                </li>
                <li>
                    <h4><a routerLink="/Category/Allcategory">Categories Avaliable</a></h4>
                </li>
                <li>
                    <h4><a routerLink="/Category/SearchCategory">Categories Search</a></h4>
                </li>
                <li>
                    <h4><a routerLink="/Category/DeleteCategory">Categories Delete</a></h4>
                </li>
            </ul>
            
        </div>
    </div>
     -->
    <div class="footer-copyright text-center py-3">© 2021 Product Catalog Angular
    </div>
    
    
</div>
</footer>