<div class="class">
    <h4></h4>
    <button class="btn" (click)="getError()">Handel Error</button>
</div>
<div class="row">
    <div class="col-md-4">
        <img src="assets/errorhandler1.png" height=400px width="400px">
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <img src="assets/errorhandler2.png" height=400px width="450px">
    </div>
    
    <div class="footer">
        <p>
            This is a simple example depicting the use of errorhandler service, By using this we can manipulate the error logs according to our business requirements
        </p>
    </div>
</div>
