<br>
<br>
<div>
    <!-- <input type="text" placeholder="text" class="class"> -->
</div>

<div class="row">
    <div class="col-md-4">
       Search Title: <input type="text" [(ngModel)]="data" placeholder="Search Here">
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        Enter price: <input type="number" [(ngModel)]="price" placeholder="Filter">
    </div>
</div>
<br>
<br>
<h1 class="heading">Normal Table</h1>
<hr>
<br>
<div class="col-md-12">
    <table class="table">
        <thead class="tablehead">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Title
                </th>
                <th>
                    Price
                </th>
                <th>
                    ExpiryDate
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Instock
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor ="let p of products | custompipe1:data |price:price">
                <td>{{p.Id}}</td>
                <td>{{p.Title}}</td>
                <td>{{p.Price | currency :'INR'}}</td>
                <td>{{p.ExpiryDate}}</td>
                <td>{{p.Quantity}}</td>
                <td>
                    
                    <ng-container *ngIf="p.inStock; then instock else outofStock">
                    </ng-container>
                     
                    <ng-template #instock>
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                    </ng-template>
                         <ng-template #outofStock>
                               <i class="fa fa-times" aria-hidden="true"></i>
                               <button class="btn btn-default">Order Now</button>
                    </ng-template>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<h1 class="heading">Angular Material Table</h1>
<hr>
<br>


    <div class="col-md-12">
        <table mat-table [dataSource]="products" class="mat-elevation-z8">
            <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let user"> {{user.Id}} </td>
            </ng-container>
            <ng-container matColumnDef="TITLE">
                <th mat-header-cell *matHeaderCellDef> TITLE </th>
                <td mat-cell *matCellDef="let user"> {{user.Title}} </td>
            </ng-container>
            <ng-container matColumnDef="Price">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let user"> {{user.Price}} </td>
            </ng-container>
            <ng-container matColumnDef="ExpiryDate">
                <th mat-header-cell *matHeaderCellDef> ExpiryDate </th>
                <td mat-cell *matCellDef="let user"> {{user.ExpiryDate}} </td>
            </ng-container>
            <ng-container matColumnDef="Quantity">
                <th mat-header-cell *matHeaderCellDef> Quantity </th>
                <td mat-cell *matCellDef="let user"> {{user.Quantity}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    
    <!-- <footer class="page-footer font-small blue">
 Copyright -->
<!-- <div class="footer-copyright text-center py-3">© 2021 Arpit:
</div> -->
<!-- Copyright -->
<!-- </footer> --> 
<br>
<br>
<div class="footer">
    <p>
        In this component we have used a dataservice to let the components access a function which return some data and is shown in the table, and if item is available in stock a button will e available in stock as a button will be visible to other product.
    </p>
</div>
