<h1 class="text-center">Welcome To Catalog</h1>
<footer class="page-footer font-small blue">
    <hr>
    <hr>
<h2 class="text-center">Products</h2>
<hr>
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-6">
            <ul>
                <li>
                    <h4><a routerLink="/Product/AddProduct">Products Add</a></h4>
                </li>
                <li>
                    <h4><a routerLink="/Product/AllProducts">Products Avaliable</a></h4>
                </li>
                <li>
                    <h4><a routerLink="/Product/SearchProduct">Products Search</a></h4>
                </li>
                <li>
                    <h4><a routerLink="/Product/DeleteProduct">Products Delete</a></h4>
                </li>
            </ul>

        </div>
    </div>
    <hr>
<h2 class="text-center">Categories</h2>
<hr>
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-6">
            <ul>
                <li>
                    <h4><a routerLink="/Category/AddCategory">Categories Add</a></h4>
                </li>
                <li>
                    <h4><a routerLink="/Category/Allcategory">Categories Avaliable</a></h4>
                </li>
                <li>
                    <h4><a routerLink="/Category/SearchCategory">Categories Search</a></h4>
                </li>
                <li>
                    <h4><a routerLink="/Category/DeleteCategory">Categories Delete</a></h4>
                </li>
            </ul>

        </div>
    </div>

    <div class="footer-copyright text-center py-3">© 2021 Angular:Assignment 2 
    </div>


</footer>