<br>
<br>
<h1 class="heading">Share Data</h1>
<div class="row">
    <div class="col-md-6">
      <app-child1></app-child1>
    </div>
    <div class="col-md-6">
      <app-child2></app-child2>
    </div>
    <br>
    <br>
      <div class="footer">
        <p>
          This is an example of reactive programming where we are using a service whth an object of behaviour subject type which itself tell about any change in its state
          here were have a property of type Iproduct and we are updating its price by calli8ng the function in a component and displaying the complete Iproduct data in another component.
        </p>
</div>
