<br>
<br>
<h1 class="heading">Share Data</h1>
<div class="row">
    <div class="col-md-6">
      <app-child1></app-child1>
    </div>
    <div class="col-md-6">
      <app-child2></app-child2>
    </div>
    <br>
    <br>
      <div class="footer">
        <p>
          In this component we make use @Input/@output directives in two components both of which have access to a service named dataservice
The component 1 fetches data from service and display an expansion panel, and that expansion panel contains a table of component 2.
        </p>
</div>
