<hr>
<h1 class="text-center">Enter New Category</h1>
<hr>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

        <form (ngSubmit)='updatecategory()' [formGroup]='EnterCategoryForm' novalidate class="form">
            Enter ID :  <input formControlName='CId' type="number" class="form-control" placeholder="ID">
            <div class="alert alert-danger"
            *ngIf="!EnterCategoryForm?.get('CId')?.valid && EnterCategoryForm?.get('CId')?.touched">Id Required</div><br>
            Enter Name :  <input formControlName='CName' type="text" class="form-control" placeholder="Name">
            <div class="alert alert-danger"
            *ngIf="!EnterCategoryForm?.get('CName')?.valid && EnterCategoryForm?.get('CName')?.touched">Name Required</div><br>
            Enter Description :<input formControlName='CDescription' type="text" class="form-control" placeholder="Description" >
            <div class="alert alert-danger"
            *ngIf="!EnterCategoryForm?.get('CDescription')?.valid && EnterCategoryForm?.get('CDescription')?.touched">Description Required</div><br>
            Enter ShortCode<input formControlName='CShortCode' type="text" class="form-control" placeholder="ShortCode">
            <div class="alert alert-danger"
            *ngIf="!EnterCategoryForm?.get('CShortCode')?.valid && EnterCategoryForm?.get('CShortCode')?.touched ">ShortCode Required</div><br>
            <button type="submit" [disabled]="EnterCategoryForm.invalid" class="btn btn-info">Update Category List</button>
            <button type="button" (click)='reset()' class="btn btn-danger">Reset Form</button>
        </form>
    </div>
    
</div><br> 