<span  class="center">
 
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h2>DELETE BY--</h2>
      <mat-form-field >
          <mat-label>Select an option</mat-label>
          <mat-select [(value)]="selected">
            <mat-option>None</mat-option>
            <mat-option (click)='idserach()' value="option1">Delete by Id</mat-option>
            <mat-option  (click)=' namesearch()' value="option2">Delete  by Name</mat-option>
            <mat-option (click)=' shortcodesearch()' value="option3">Delete by Short Code</mat-option>
          </mat-select>
        </mat-form-field>
      
   
      
   
   
  <form  *ngIf=showid [formGroup]='DeleteByCId'  novalidate class="form">
  <div class="form-group">
      <label for="exampleInputPassword1">Enter Category Id</label>
      <input formControlName='CId' type="number" class="form-control"  >
      </div>     
      <br>
      <button (click)="DeleteByCateId()"class="btn btn-info">Delete</button>       
      </form> 
   
      <form  *ngIf=showname [formGroup]='DeleteByCName' novalidate class="form">
          <div class="form-group">
              <label for="exampleInputPassword1">Enter Category Name</label>
              <input
              formControlName='CName'
              type="text" 
              class="form-control" 
              >
              </div>   
              <br>
              <button (click)="DeleteByCateName()"class="btn btn-info">Delete</button>             
              </form> 
   
              <form  *ngIf=showshortcode [formGroup]='DeleteByCShortCode' novalidate class="form">
                  <div class="form-group">
                      <label for="exampleInputPassword1">Enter Category ShortCode</label>
                      <input
                      formControlName='CShortCode'
                      type="text" 
                      class="form-control" 
                      >
                      </div>  
                      <br>
                      <button (click)="DeleteByCateShortCode()"class="btn btn-info">Delete</button>              
                      </form> 
            
                  </div>
                  <div class="col-md-3"></div>    
   
              </span>
