.imglogo{
    margin-top: 0px;
    float: right;
    height: 140px;
    width: 150px;
}
.heading1{
    font-family: 'Oswald', sans-serif;
    text-align: center;
}
.jumb{
    background-color: #e9ecef;
}