<div class="jumbotron" >
    <img class="imglogo" src="../assets/angular-logo.png">
    <h1 class="heading">ANGULAR PROJECTS</h1>
    <p>This site containes all the angular projects that I have done during the training.</p>  
    <h3>Name : Neetika Paliwal</h3>
    <h5>Designation : ASET(Taazaa)</h5>
</div>
<hr>
<hr>
    <div class="col-md-4"></div>
    
    <div class="jumb" >
        <h1 class="heading1">INDEX</h1>
        <ol>
            <li><h3><a routerLink="/Tshirt">Databinding</a></h3></li>
            <li><h3><a routerLink="/Products">Structural Directive</a></h3></li>
            <li><h3><a routerLink="/Purchase">Master Details</a></h3></li>
            <li><h3><a routerLink="/Sharedata">Sharing Data</a></h3></li>
            <li><h3><a routerLink="/Attributedirective">Attribute directive</a></h3></li>
            <li><h3><a routerLink="/HandelError">Handel Error</a></h3></li>
            <li><h3><a routerLink="/LoginForm">login Form</a></h3></li>
        </ol>
    
